$cards: 0, 1, 2, 3, 4, 5;
$cardColor: #fed700;
$background-color: #888;

main {
	position: relative;
	padding: 5% 0;
	min-height: 400px;
	height: 60vh;
	color: #666;
	background-color: $cardColor;
	@media (min-height: 700px) {
		& {
		  height: 65vh;
		}
	}
	@media (min-width: 900px) {
		& {
			height: 70vh;
		}
	}
	&:after {
		position: absolute;
		z-index: 10;
		content: " ";
		width: 100%;
		height: 100%;
		top: 0;
		background-color: $background-color;
		transform: translateX(-100%);
	}
	&:before {
		position: absolute;
		z-index: 10;
		content: " ";
		width: 100%;
		height: 100%;
		top: 0;
		background-color: $background-color;
		transform: translateX(100%);
	}
	& .cards {
		display: flex;
		flex-direction: row;
		position: relative;
		list-style: none;
		height: 100%;
		width: 100%;
		margin-block-start: 0;
		margin-block-end: 0;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-inline-start: 0;
		transition: left 2s;
		@each $card in $cards {
			&.card-#{$card} {
				left: calc(-100% * #{$card});
			}
		}
		& .card {
			display: flex;
			font-size: 150%;
			padding: 0 5%;;
			min-width: fit-content;
			height: fit-content;
			background-color: $cardColor;
			&:first-child {
				width: 100%;
				text-align: center;
				justify-content: center;
				top: 0;
				bottom: 0;
				margin: auto;
			}
			&__image {
				display: inline-block;
				width: 45%;
				height: auto;
			}
			&__text-container {
				position: relative;
				display: inline-flex;
				flex-direction: column;
				justify-content: center;
				width: 55%;
				height: 100%;
				text-align: left;
				padding: 0 5%;
				box-sizing: border-box;
				font-family: Arial;
				letter-spacing: 1px;
				line-height: 130%;
				&:first-child {
					width: 80%;
					text-align: center;
				}
				&__cancel-btn {
					position: absolute;
					top: 0;
					right: 0;
					text-align: right;
					font-size: 150%;
					&:hover {
						cursor: pointer;
					}
					& .far {
						color: $background-color;
						background-color: white;
						border-radius: 50%;
						background: radial-gradient(white 60%,transparent 60%);
						&:active {
							background: radial-gradient($background-color 60%,transparent 60%);
						}
					}
				}
				&__caption {
					color: #555;
					font-size: 160%;
					font-weight: 900;
					padding-bottom: 5%;
				}
				&__paragraph {
					display: block;
				}
				&__description {
					display: flex;
					padding: 5% 0;
					& .fa:before  {
						font-size: 70%;
						padding-right: 1rem;
					}
				}
			}
		}
	}
}
